{
  "presets": [
    [
      "@babel/env",
      {
        "corejs": "3.6.5",
        "useBuiltIns": "usage",
        //debug: true,
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/react",
    "@babel/typescript"
  ]
}
